table {
    background-color: lightskyblue;
    border-radius: 3px;
    height: 48;
    width: 100%;



}
tr{background-blend-mode: color-dodge;
    background: yellow;
    
}
td {width: 20%}
ol{
    list-style-type: cjk-decimal;
}
body{background:url('../img/2018-05-0711-25-29.mp4')

}